{% extends 'diseno.html' %}
{% block title %}Inicio{% endblock title %}

{% block body %}
<body>
    {% include 'encabezado.html' %}
    <h2>Como usar:</h2>
    <h2>- A la derecha se encuentra un navbar</h2>
    <h2>- institucionAPI e inscripcionAPI son accesos directo pero para volver debe hacerlo con las flechas del navegador</h2>
    <h2>- Antes de ingresar una inscripcion debe tener por lo menos una institucion registrado ya que se encuentran vinculdadas</h2>
    <h2>- Las id se encuentran como autofield por lo que puede colocar cualquier cosa, pero se genereara un id numerico automatico</h2>

    <h1>Gracias por su comprension!!!!</h1>



</body>
{% endblock body %}